# Api Gateway
PORT=8000
NODE_ENV=development

# Service Ports
AUTH_PORT=3001
USER_PORT=3002



# Service URLs
AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002



# DATABASE MongoDB
MONGODB_URI=mongodb://localhost:27017/ReadingForest


# JWT Secrets
JWT_ACCESS_SECRET=your-access-secret-key-change-in-production
JWT_REFRESH_SECRET=your-refresh-secret-key-change-in-production
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Cookie settings
COOKIE_DOMAIN=localhost
COOKIE_SECURE=false

# FrontEnd URL
FRONTEND_URL=http://localhost:3000

# CORS
CORS_ORIGIN=http://localhost:3000

# Logging
LOG_LEVEL=info


